input{
    margin: 10px;
    height: 20px;
    border: 3px solid rgb(94, 94, 94);
    border-radius: 12px;
}
input:hover{
    border: 3.5px solid black;
}
.button{
    padding: 10px;
    margin: 20px;
    border-radius: 12px;
}
.button:hover{
    background-color: rgb(85, 85, 85);
    border: 2.5px solid black;
}
#editButton,#deleteButton{
    border-radius: 12px;
    padding: 6px;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#detailsTableContainer{
    overflow: auto;
}
#tableSection{
    width: 100%;
    height: 90vh;
    border-radius: 12px;
    text-align: center;

}
.editOrDeleteButtons{
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}
button :hover{
    background-color: darkslategray;
}
th{
    position: sticky;
    overflow: auto;
    bottom: 0;
    background-color: rgb(37, 121, 170);
}
.shiftButton{
    padding: 0.5vw;
    border-radius: 12px;
    margin-top: 2.5vh;
}
th,td{
    max-width: 15vw;
    width: 25vw;
    overflow-wrap: break-word;
    border: 3px solid darkgray;
}
table{
    border-collapse: collapse;
    overflow-x: auto;
    border: 3px solid rgb(202, 199, 199);
    width: 100vw;
    max-width: 100%;
}
#multiSelectDiv{
    display: flex;
}
#optionShiftButtons{
    display: flex;
    flex-direction: column;
}
#rightSelect,#leftSelect{
    height: auto;
    min-width: 80px;
    width: auto;
    border-radius: 12px;
}
.columnSearch{
    width: 8.5vw;
}
.topSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
#showOrHideButton{
    padding: 7px;
    margin: 20px;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 12px;
}