body{
        background-color: rgb(196, 186, 220);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}
.inputForm{
        display: flex;
        flex-direction: column;
        margin: 20px;
}
#leftSelect,#rightSelect{
        width: 100%;
}
#multiSelectBoxes{
        display: flex;
        flex-direction: row;
}
#leftArrowButton,#rightArrowButton{
        margin: 10px;
}
button{
        margin: 10px;
}
table,th,td{
        border: 2px solid white;
        border-collapse: collapse;
        width: 100%;
        overflow-x: auto;
        text-align: center;
}
.table-container {
        width: 100%;
        overflow-x: auto;
        text-align: center; 
      }
#displayOrHideTable,#submitButton{
        margin: 2%;
}
td{
        padding: 12px;
}
label{
        font-weight: bold;
}
#allInputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        padding: 10px;
}
#submitButton{
        background-color: aqua;
        padding: 2%;
        border-radius: 10px;
}
#leftArrowButton,#rightArrowButton{
        background-color: greenyellow;
        padding: 2%;
        border-radius: 2px;
}